body {
  display: flex;
  gap: 60px;
  background: #22212C;
  color:  #837E9F;
  padding: 40px 40px;
  font-family: 'Merriweather Sans', sans-serif;
}

#journey {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#profile {
  width: 348px;
  height: 292px;

  background: #302F3D;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 3px 4px #0f0f11;
}

#profile img {
  margin: 32px 0 30px;
}

#profile h2 {
  margin: 0;
  font-weight: bold;
  font-size: 23px;
}

#profile p {
  margin: 10px 0 49px;
  font-size: 13px;
  font-weight: 300;
}

.social {
  width: 348px;
  height: 348px;
  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

.social nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 40px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #837E9F;
}

#linksp a {
  display: flex;
  align-items: center;
}

#tech {

  width: 348px;
  height: 208px;
  
  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

#tech h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 0 20px;
}

#tech div {
  display: flex;
  flex-wrap: wrap;

  padding: 20px 30px 30px;
  gap: 15px;
}

#tech div span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 86px;
  height: 24px;

  font-size: 10px;
  font-weight: bold;

  border-radius: 30px;

  background: #CB92B1;
  color: #000;
}

#infor {
  width: 348px;
  height: 349px;

  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

#infor h2 {
  font-size: 20px;
  font-weight: bold;

  margin: 30px 20px 20px;
}

#infor ul {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 175px;
  height: 243px;

  margin: 0 133px 30px 50px;
  padding: 0;
  align-items: left;
}

ul li {
  font-size: 12px;
  font-weight: 300;

  text-align: left;
}

ul li strong {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

ul li span {
  font-weight: 400;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mypro {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 952px;
  height: 86px;
  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

.mypro h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.mypro p {
  font-size: 14px;
  margin-right: 30px;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  width: 461px;
  height: 186px;
  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

.card a {
  color: #837E9F;
  padding: 30px 30px;
  text-decoration: none;
}

.card a span {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: bold;
  font-size: 16px;
}

.card a p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.card a div {
  display: flex;
  justify-content: space-between;
}

.card a div div {
  display: flex;
  gap: 16px;
}

.card a div div span, .card a div p {
  display: flex;
  gap: 8px;

  font-size: 14px;
  font-weight: 400;
}

h4 {
  box-sizing: border-box;
  width: 952px;
  height: 86px;
  padding: 30px;

  font-size: 20px;
  font-weight: bold;

  background: #302F3D;

  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

#recent {
  box-sizing: border-box;
  width: 952px;
  height: 201px;
  padding: 30px 30px 40px;

  background: #302F3D;

  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

#recent a {
  display: flex;
  align-items: center;
  gap: 20px;

  color: #837E9F;
  text-decoration: none;
  width: 612px;
  height: 129px;
}

#recent a div div {
  display: flex;
  gap: 10px;
}

#recent a div h2 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

#recent a div p {
  margin: 10px 0 28px;
  font-size: 14px;
  font-weight: 300;
}

#recent a div h3 {
  font-size: 16px;
  font-weight: 400;
}

#recent a div div span {
  font-size: 14px;
  font-weight: 300;
}