body {
  display: flex;
  gap: 60px;
  background: #22212C;
  color:  #837E9F;
  padding: 40px 40px;
  font-family: 'Merriweather Sans', sans-serif;
}

#journey {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#profile {
  width: 348px;
  height: 292px;

  background: #302F3D;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px 3px 4px #0f0f11;
}

#profile img {
  margin: 32px 0 30px;
}

#profile h2 {
  margin: 0;
  font-weight: bold;
  font-size: 23px;
}

#profile p {
  margin: 10px 0 49px;
  font-size: 13px;
  font-weight: 300;
}

.social {
  width: 348px;
  height: 348px;
  background: #302F3D;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #0f0f11;
}

.social nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px 40px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #837E9F;
}

#linksp a {
  display: flex;
  align-items: center;
}

.card a{
  display: flex;
  flex-direction: column;
  
  width: 461px;
  height: 186px;
  padding: 30px 30px;
  border-radius: 20px;
  text-decoration: none;

  background: #302F3D;
  color: #837E9F;
  box-shadow: 1px 3px 4px #0f0f11;
}

.card a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card a div div span{
  display: flex;
  align-items: center;
}